<%  console.log(data) %>
<main id="data">
  <div class="container">
    <!-- Image gets decompressed -->
    <img class="banner" src="<%= LZString.decompressFromUTF16(data.img) %>"/>
  </div>
  <section class="text">
    <div class="head">
      <div class="headers">
        <h3><%= data.name %></h3>
        <h5><%= data.scientific %></h5>
      </div>
      <div class="accuracy">
        <span>Accuracy</span>
        <span><%= data.confidence %></span>
      </div>
    </div>
    <hr/>
    <div class="body">
        <%= data.text %>
    </div>
    <hr/>
    <div class="meta">
      <div class="item">
        <img src="assets/images/icons/location.svg"/>
        <%
          var loc = data.location.coordinates
          if (loc) {
            var link = `https://www.google.com/maps/?q=${loc.latitude},${loc.longitude}`
          }
        %>
        <span><a target="_blank" href="<%= link %>"><%= data.location.representation %></a></span>
      </div>
      <br/>
      <div class="item">
        <img src="assets/images/icons/date.svg"/>
        <span><%= data.date.toString() %></span>
      </div>
    </div>
    <hr/>
    <div class="links">
      <ul>
        <% for (let tag in data.links) { %>
          <li><a target="_blank" href="<%= data.links[tag] %>"><%= tag %></a></li>
        <% } %>
      </ul>
    </div>
  </section>
</main>
