<main id="data">
  <div class="container">
    <!-- Image gets decompressed -->
    <img src="<%= LZString.decompressFromUTF16(data.img) %>"/>
    <button name="back"></button>
  </div>
  <section class="text">
    <div class="head">
      <div class="headers">
        <h3><%= data.name %></h3>
        <h5><%= data.scientific %></h5>
      </div>
      <div class="accuracy">
        <span>Accuracy</span>
        <span><%= data.confidence %></span>
      </div>
    </div>
    <div class="body">
      <%= data.text.innerHTML %>
    </div>
    <hr/>
    <div class="meta">
      <div class="item">
        <img src="assets/images/icons/location.svg"/>
        <span><%= data.location.representation %></span>
      </div>
      <div class="item">
        <img src="assets/images/icons/date.svg"/>
        <span><%= data.date %></span>
      </div>
    </div>
    <hr/>
    <div class="links">
      <% for (let tag in data.links) { %>
        <a target="_blank" href="<%= data.links[tag] %>"><%= tag %></a>
      <% } %>
    </div>
  </section>
</main>
