<div class="thumbnail" data-id="<%= data.id %>">
  <div class="container">
    <a class="display" href="results/?id=<%= data.id %>">
      <!-- Image gets decompressed -->
      <img src="<%= LZString.decompressFromUTF16(data.img) %>"/>
    </a>
  </div>
  <div class="text">
    <p><a href="results/?id=<%= data.id %>"><%= data.name %></a></p>
    <p><%= data.date %></p>
  </div>
</div>
