<%
  // Short ISO date convert
  const dateformat = function (date, form) {
    if (date === null) {
      return 'now'
    } else {
      if (form === 'full') {
        var year = String(date.getFullYear())
        var month = String(date.getMonth() + 1)
        var day = String(date.getDate())

        let result = [year, month, day].join('-') // year-month-day
        return result
      } else if (form === 'year') {
        let result = String(date.getFullYear()) // Only year is returned
        return result
      }
    }
  }

  // Standard webname convert
  const webname = function (name) {
    var result = name.toLowerCase()
    result = result.replace(/ /g, '-') // Whitespace will be replaced
    return result
  }
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= data.title %> - Projects</title>
  <meta name="description" content="<%= data.description.slice(0, 160) %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <link rel="canonical" href="https://www.lukaas33.com/projects/<%= webname(data.title) %>"/>
  <!-- Social media meta tags -->
  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:image" content="https://www.lukaas33.com/assets/images/thumbnails/<%= webname(data.title) %>.jpg">
  <meta property="og:type" content="article">
  <meta property="article:tag" content="<%= data.tags %>">
  <meta property="article:author" content="Lucas van Osenbruggen">
  <!-- Same root as index -->
  <base href="../"></base>
  <!-- Applies to multiple pages -->
  <%- include('partials/appdata') %>
  <!-- Css -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="assets/css/main.css" media="screen" rel="stylesheet">
  <link href="assets/css/print.css" media="print" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/top') %>
  <!-- Content -->
  <main>
    <section id="project" class="part">
      <div class="card">
        <div class="container">
            <!-- Image must be uploaded as jpeg at a 1:3 size ratio -->
            <img src="/assets/images/banners/<%= webname(data.title) %>.jpg">
            <div class="fab">
                <% if (data.type === 'website') { %>
                    <a target="_blank" rel="noopener" href="<%= data.media %>">
                        <i class="material-icons md-light">link</i>
                    </a>
                <% } %>
            </div>
        </div>
        <div class="text">
          <div class="top">
            <h1><%= data.title %></h1>
            <p class="type"><%= data.type %></p>
            <p class="date"><em><%= dateformat(data.date.start, 'full') %> / <%= dateformat(data.date.end, 'full') %></em></p>
            <hr>
          </div>
          <div class="primary">
            <!-- Compiled html from markdown -->
            <%- markdown(data.description) %>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
