<%
	// Short ISO date convert
	const dateformat = function (date, form) {
		if (date === null) {
			return 'now'
		} else {
			if (form === 'full') {
				var year = String(date.getFullYear())
				var month = String(date.getMonth() + 1)
				var day = String(date.getDate())

				let result = [year, month, day].join('-') // year-month-day
				return result
			} else if (form === 'year') {
				let result = String(date.getFullYear()) // Only year is returned
				return result
			}
		}
	}
%>
<div class="card">
	<div class="text">
		<div class="head">
			<div tooltip class="type">
				<i class="material-icons md-light md-active">
					<% if (info.type === 'school') { %>
						school
					<% } else if (info.type === 'job') { %>
						work
					<% } else if (info.type == 'course') { %>
						class
					<% } %>
				</i>
				<div class="tooltip"><%= info.type %></div>
			</div>
			<div class="tag">
				<h3><%= info.title %></h3>
				<p><%= info.place %></p>
			</div>
			<div tooltip class="date">
					<span class="begin" date="<%= dateformat(info.date.start, 'full') %>">
						<%= dateformat(info.date.start, 'year') %>
					</span>
					<span>-</span>
					<span class="end" date="<%= dateformat(info.date.end, 'year') %>">
						<%= dateformat(info.date.end, 'year') %>
					</span>
					<div class="tooltip">
						<!-- The date in a easier to understand form -->
						<% if (info.date.end === null) { %>
							<%= `Started ${sinceDate(info.date.start)} ago` %>
						<% } else { %>
							<%= `Ended ${sinceDate(info.date.end)} ago` %>
						<% } %>
					</div>
			</div>
		</div>
		<div class="collapse">
			<hr/>
			<%- markdown(info.description) %>
			<br/>
			<!-- Loops through all extra data -->
			<% for (let data of info.data) { %>
				<% if (data.type === 'link') { %>
					<a rel="noopener" target="_blank" href="<%= data.value %>">Website</a>

				<% } else if (data.type === 'number') { %>
					<p class="number"><%= data.value %></p>
				<% } %>
			<% } %>
		</div>
	</div>
</div>
