<%
	// Standard webname convert
	const webname = function (name) {
		var result = name.toLowerCase()
		result = result.replace(/ /g, '-') // Whitespace will be replaced
		return result
	}
%>
<div class="container">
	<div class="preview">
		<a target="_self" href="/projects/<%= webname(info.title) %>">
			<!-- Thumbnail must be uploaded as jpeg with a 1:1 size ratio -->
			<img alt="Thumbnail for the <%= info.title %> project" src="assets/images/thumbnails/<%= webname(info.title) %>.jpg"/>
			<span>
				<div class="tags">
					<h3><%= info.title %></h3>
					<p><%= info.type %></p>
				</div>
			</span>
		</a>
	</div>
</div>
