<%
	const average = function (nums) {
		var result = 0
		for (let num of nums) {
			result += num
		}
		result /= nums.length
		result = Math.round(result)
		return result
	}

	const getPercentages = function (array, get) {
		var result = []
		for (let object of array) {
			result.push(object[get])
			console.log(result)
		}
		return result
	}
%>
<div class="card">
	<div class="text">
		<div class="head">
			<div class="tag">
				<h3><%= info.title %></h3>
			</div>
			<!-- Gets the average from the array of objects -->
			<progress max="100" value="<%= average(getPercentages(info.skills, 'percentage')) %>"></progress>
		</div>
		<div class="collapse">
			<hr/>
			<div class="box">
				<div class="description">
					<p><%= info.description %></p>
				</div>
				<div class="progress">
					<div class="container">
						<!-- Loops through the different skills -->
						<% for (let skill of info.skills) { %>
							<div>
								<p><%= skill.name %></p>
								<progress max="100" value="<%= skill.percentage %>"></progress>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
